:root {
    --main-color-steel-teal: #172A3A;
    --secondary-color-nyanza-light: rgb(235, 247, 236);
    --alternative-color-paynes-grey: #4F6D7A;
    --alternative-accent-color-dark-sky-blue: #84C0C6;
    --third-color-columbia-blue: #C0D6DF;
}

.navbar-site {
    background-color: var(--alternative-color-paynes-grey);
}

.nav.navbar-nav.navbar-right li a {
    color: var(--secondary-color-nyanza-light);
}

.nav.navbar-nav li a {
    color: var(--secondary-color-nyanza-light);
}

.nav.navbar-nav.navbar-right li a:focus {
    background-color: var(--alternative-color-paynes-grey);
}

.nav.navbar-nav li a:focus {
    background-color: var(--alternative-color-paynes-grey);
}

.nav.navbar-nav li a:enabled {
    background-color: var(--alternative-color-paynes-grey);
}

.nav.navbar-nav.navbar-right li a:hover {
    background-color: var(--main-color-steel-teal);
}

.nav.navbar-nav li a:hover {
    background-color: var(--main-color-steel-teal);
}

.navbar-brand {
    color: var(--secondary-color-nyanza-light);
}

.navbar-brand:hover {
    color: var(--third-color-columbia-blue);
}

.navbar-brand:focus {
    color: var(--secondary-color-nyanza-light);
}

#divCreateSpecimen {
    background-color: rgb(230, 255, 255);
}

.button-accept-default {
    background-color: var(--alternative-accent-color-dark-sky-blue);
}

#modificationOpener {
    color: white;
    background-color: var(--alternative-color-paynes-grey);
    outline-color: var(--alternative-color-paynes-grey);
    width: 100px;
}

#deletionOpener {
    color: white;
    background-color: var(--alternative-accent-color-dark-sky-blue);
    outline-color: var(--alternative-accent-color-dark-sky-blue);
    width: 100px;
}

.horizontal-div {
    text-align: center;
}

#speciesListTable {
    border-collapse: collapse;
    width: 100% !important;
}

.removal-text {
    text-align: center;
    padding-bottom: 25px;
}

#btnCancelSpecimenRemoval {
    border-radius: 8px;
    padding: 8px;
    background-color: var(--alternative-color-paynes-grey);
    outline-color: var(--alternative-color-paynes-grey);
    color: white;
}

#btnAcceptSpecimenRemoval {
    border-radius: 8px;
    padding: 8px;
    background-color: var(--main-color-steel-teal);
    outline-color: var(--main-color-steel-teal);
    color: white;
}

#titleh1 {
    font-size: 48px;
}

.title-header {
    color: var(--main-color-steel-teal);
    content: '\u2630';
}

.site-background {
    background-color: var(--secondary-color-nyanza-light);
}

#btnAddSpecimen {
    background-image: url("res/svg_images/icon_add.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border-color: transparent;
    height: 50px;
    width: 50px;
}

#btnAddSpecimen:focus {
    outline: none !important;
}

th {
    font-size: 22px;
}

tr {
    font-size: 18px;
}

#speciesListTable tbody tr {
    max-height: 20px;
    overflow: hidden;
    word-wrap: break-word;
}

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  .content {
    flex: 1 0 auto;
    background-color: black;
  }
  .footer {
    flex-shrink: 0;
  }


.bottom-bar{
    color: white;
    background-color: var(--alternative-color-paynes-grey);
    padding: 5px;
}

@media (max-width: 500px) {
    body {
        padding-top: 35px;
    }
}

@media (max-width: 500px) {

    .navbar-brand {
        color: var(--secondary-color-nyanza-light);
    }

    #logoIcon{
        max-width: 50px;
        max-height: 50px;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

#logoIcon{
    max-width: 50px;
    max-height: 50px;
}

.pre{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background-color: var(--alternative-color-paynes-grey);
    padding: 0px;
    border-width: 0px;
}

pre a{
    color: lightgray;
}

pre a:hover{
    color: var(--secondary-color-nyanza-light);
}

pre a:focus{
    color: var(--secondary-color-nyanza-light);
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    top:0;
    height: 85%;
    width: 100%;
    object-fit: contain;
  }
  
  /* Add some content at the bottom of the video/page */
  .video-content {
    position: absolute;
    bottom: 40px;
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    width: 100%;
    padding-bottom: 10px;
    animation-duration: 50ms;
  }

  .left-controls{
    position: fixed;
    float: left;
  }
  
  /* Style the button used to pause/play the video */
  .controlBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
  }
  .controlBtn:focus{
      outline: transparent;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .cssanimation, .cssanimation span {
    animation-duration: 5s;
    animation-fill-mode: both;
}

#registerDropdown{
    padding: 15px;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
    .animate {
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {opacity: 0;
        transform: translateY(-5%);
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {opacity: 0;
        transform: translateY(-5%);
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

  #indexBody{
    overflow-y:hidden;  
  }